#navwhite{
	background: white;
	height:110px;
	position:relative;
	bottom:10px;

}
#navwhite > li{
	position: relative;
	left: 45%;
	display: inline-flex;
	margin:5px;
	bottom:50px;
	font-family:;
}
header{
	background: #FE9705;
	width:100%;
	height:100px;
	position:relative;
	bottom:40px;

}
header >h1{
	color:white;
	position: relative;
	left:60%;

}
body{
	background: blue;
    min-height: 120vh;
    width:100%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
    overflow-x: hidden;
	
}
body >img{
	position: relative;
	left:60%;
	margin:auto;

}
form{
	background: white;
	width:40%;
	height:600px;
	position: relative;
	bottom:390px;
	left:29px;

}
form >input{
	margin:5px;
	border:1px solid blue;
	width:90%;
	padding:10px;
}
form >button{
	background:#8CA6E4;
	position: relative;
	left: 60%;
	height:40px;
	color:white;
}
 #question >p >button{
 	background:#D9D4D4;
 	border:1px solid blue;
 	border-radius:40px;
 	font-size:20px;
 	margin:25px;
 	color: blue;


 	
 }
  #question >p {
  	display: inline;
  
  }
  #question {
  	background:#D9D4D4;
  }
  #trait::before {
  	content: "  ";
  	position: absolute;
  	background-color:#FE9705;
  	width: 30%;
  	height: 4px;
  	bottom:740px;
  	left:35%;
  }

  #text-question{
  	color:blue;

  }
  #cocher{
  	background: #FE9705;
  	width: 98%;
  	height:100px;
  	border-radius:10px;
  	
  }
 #point{
 	display: inline;
 	margin:100px;
 	position: relative;
 	left:10%;
 	
 }

 #one{
 	position: relative;
 	bottom:92px;
 	left:12%;
 	color:white;
 }
 #two{
 	position: relative;
 	bottom:170px;
 	left:30%;
 	color:white;

 }
 #three{
 	position: relative;
 	bottom:240px;
 	left:50%;
 	color:white;

 }
 #forth{
 	position: relative;
 	bottom:320px;
 	left:70%;
 	color:white;
 }
#validation{
	background:blue;
	 border-radius:10px;
	  position: relative;
	   top:220px;left:30%;
}
#validation1{
	background:blue;
	 border-radius:10px;
	  position: relative;
	   top:220px;
	    left:30%;
}
#lesimages{
	border:20px solid orange;

}
#resultattest >span{
	position:relative;
	bottom:300px;
	left:70%;
}


span {
  animation: glow 0.75s ease-in-out infinite;
}
@keyframes glow {
  0%, 80% {
    color: red;
    text-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white;
  }
  
  10%, 70% {
    color: orange;
    text-shadow: none;
  }
}
@media (max-width: 700px){

	#navwhite{
	background:white;
	height:110px;
	position:relative;
	bottom:10px;

}
#navwhite > li{
	color:black;
	display: block;
	position: relative;
	bottom:85px;
	left:60%;

	

}
header{
	background: #FE9705;
	width:100%;
	height:100px;
	position:relative;
	bottom:40px;

}
header >h1{
	color:white;
	position: relative;
	left:50%;

}
body{
	background: blue;
    min-height: 120vh;
    width:100%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
    overflow-x: hidden;
	
}
body >img{
	position: relative;
	left:45%;
	margin:auto;
	width:200px;
	height: 200px;

}
form{
	background: white;
	width:40%;
	height:600px;
	position: relative;
	bottom:300px;
	left:29px;

}
form >input{
	margin:5px;
	border:1px solid blue;
	width:90%;
	padding:10px;
}
form >button{
	background:#8CA6E4;
	position: relative;
	left: 60%;
	height:40px;
	color:white;
}
 #question >p >button{
 	background:#D9D4D4;
 	border:1px solid blue;
 	border-radius:40px;
 	font-size:20px;
 	margin:25px;


 	
 }
  #question >p {
  	display:block;
  
  }
  #question {
  	background:#D9D4D4;
  	height:600px;
  }
  #trait::before {
  	content: "  ";
  	position: absolute;
  	background-color:#FE9705;
  	width: 40%;
  	height: 4px;
  	left:35%;
  	top:720px;
  }

  #text-question{
  	color:blue;
  	position: relative;
  	right:5%;

  }
  #cocher{
  	background: #FE9705;
  	width: 98%;
  	height:500px;
  	border-radius:10px;
  	
  }
 #point{
 	display:block;
 	margin:100px;
 	position: relative;
 	left:10%;
 	
 }

 #one{
 	position: relative;
    bottom:500px;
 	left:26%;
 	color:white;
 }
 #two{
 	position: relative;
    bottom:450px;
 	left:26%;
 	color:white;

 }
 #three{
 	position: relative;
    bottom:400px;
 	left:26%;
 	color:white;

 }
 #forth{
 	position: relative;
    bottom:350px;
 	left:26%;
 	color:white;
 }

 #validation{
	background:blue;
	 border-radius:10px;
	  position: relative;
	   top:750px;left:20%;
}
#resultattest >span{
	position:relative;
	left:20%;
	top: 100px;
	
}
#lesimages{
	border:20px solid orange;
	width:67%;

}
 h3{
 	display: flex;
 }
	
}